@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: '300';
    font-optical-sizing: auto;
}

.wrapper {
    display: block;
    margin: -1;
    padding: 5% 5%;

}

/* .wrapper:hover{
    background-color: aqua;
} */

.pageContainer {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    width: 8.5in;
    height: 11in;
    overflow: hidden !important;
    box-sizing: border-box;

    /* background-color: #fff; */
}

/* .pageContainer:hover{
    background-color: pink;
} */

